* {
    box-sizing: border-box;
}

:Root {
    --basic-title: #FBFBFB;
}


.dining-more {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 0px 16px 20px 16px;
    color: var(--basic-title);
}

/* supper-Club css section */

.supper-club-image {
    padding-left: 25%;
}

.privee-image {
    padding-left: 36%;
}

.supper-search {
    background-image: url('./assets//images/search.png');
    background-repeat: no-repeat;
    background-position: 13px 12px;
    background-color: rgba(95, 95, 95, 0.24);
    width: 92%;
    padding: 15px 50px;
    border: 0.5px solid var(--basic-title);
    position: absolute;
    top: 10%;
    left: 4%;
    color: #DCD7CB;
}

::placeholder {
    color: #DCD7CB;
}

.supper-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #DCD7CB;
}

.footer-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FBFBFB;
}

/* for select sub-menu css */

.css-6hp17o-MuiList-root-MuiMenu-list {
    background: #DCD7CB;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.2);
    padding: 0px !important;
}


.browser-supper-search {
    background-image: url('./assets//images/vector.svg');
    background-repeat: no-repeat;
    background-position: 13px 12px;
    background-color: #BDBDBD;
    width: 92%;
    padding: 15px 50px;
    border: 0.5px solid var(--basic-title);
    color: #DCD7CB;
}

.footerLogo {
    padding: 10px
}

.chef-maco {
    background-image: url("./assets/images/ExperienceFormImg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mobile-chef {
    width: 160px;
}

/* ************ */

.MuiMobileStepper-dot.MuiMobileStepper-dotActive.css-26w9jf-MuiMobileStepper-dot {
    /* width: 15px;
    height: 15px;
    background-color: #C6A87D; */
}

.MuiMobileStepper-dot.css-114p2tk-MuiMobileStepper-dot {
    /* width: 15px;
    height: 15px; */
    /* background-color: #080B0E; */
    /* border: 1px solid #FBFBFB; */
}