.location-search-input {
    border-color: transparent transparent white transparent;
border-style: none none solid none;
border-width: 0px 0px 0.25px 0px;
width: -webkit-fill-available;
background: transparent;
color: white;
}

.location-search-input:focus-visible{
    outline: none;
}
.autocomplete-dropdown-container{
    color: #080B0E !important;
    position: absolute;
    top: 50px;
    width: -webkit-fill-available;
    padding: 0px 30px;
}
.main-map-box{
  position:absolute;
   top:510px;
    width:100%;
    left:0;
    background-color: #101418;
      box-shadow: 0px 8px 12px rgb(0 0 0 / 16%);
}
.second{
    padding: 0px 30px 30px;
}
.second-map-box{
    padding: 0px 30px 30px;
}
.third-map-box{
    padding: 0px 30px 30px;
}